
<form  action='@Url.Action("GuardarCitiosTour", "Home")' method="post" enctype="multipart/form-data">
<input type="hidden" name="IdCategoria" value="@ViewBag.AgregarCitiosTour">
<p class="letraForm">Nombre --> <input  class="letraForm" type="text" name ="Nombre"></p>
<p class="letraForm">Foto --> <input class="letraForm" type="Myfile" name="Foto" ></p>
<p class="letraForm">Barrio --> <input  class="letraForm" type="text" name ="Barrio"></p>
<p class="letraForm">Fecha de fundacion --> <input class="letraForm" type="date" name ="FechaFundacion"></p>
<p class="letraForm">Info --> <input class="letraForm" type="text" name ="InfoLugar"></p>
<input class="letraForm" type="submit" value="Guardar">
</form>
<a class="ag" href='@Url.Action("PantallaCitiosTour", "Home")' class="btn btn-primary">Volver a los citios turisticos</a>
