<div class="text-center">
    <h1 class="display-4">BUENOS AIRES TURISMO</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/EWRWZLV7FZEM7C24TIEPFBJCP4.jpg"
                class="d-block w-100" alt="First slide">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>

        <div class="carousel-item ">
            <img src="https://www.cronista.com/files/image/289/289673/5ffe00387d795.jpg" class="d-block w-100"
                alt="Second slide">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://eventosargentina.com.ar/wp-content/uploads/2019/06/Bosques-de-Palermo-1.jpg"
                alt="Third slide">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>

     <div class= "boton1">
        <a href='@Url.Action("Lugares", "Home")' class="btn btn-primary btn-block">Ver Lugares</a>
     </div>

    <div class="boton2"> 
    <a href='@Url.Action("Colectivos", "Home")' class="btn btn-primary btn-block">Ver Colectivos</a>
    </div>
