<div class="UbicarBotones">
<a href='@Url.Action("Restaurantes", "Home", new {IdCategoria = 1})' class="btn btn-primary btn-lg btn-block">Restaurantes</a>
<a href='@Url.Action("SitiosTour", "Home", new {IdCategoria = 3})' class="btn btn-primary btn-lg btn-block">Sitios turisticos</a>
<a href='@Url.Action("Monumentos", "Home", new {IdCategoria = 2})' class="btn btn-primary btn-lg btn-block">Monumentos</a>
</div>